.background{
    background-color: #222222;
}
.main-title{
    text-shadow: 2px 2px rgb(100, 100, 100, 0.5);
    font-family: Buffalo;
    font-weight: bold;
    font-size: 3rem;
}
p{
    font: Arial;
    font-weight: lighter;
    color: #555555;
}