#table-of-contents-wrapper {
    position: fixed;
    width: 150px;
    right: 2.5%;
    top: 50%;

    #table-of-contents-title {
        position: fixed;
        text-transform: uppercase;
        transform: rotate(270deg);
        white-space: nowrap;
        right: 80px;
        letter-spacing: 0.25em;
        border-bottom: 1px solid;
    }

    #table-of-contents {
        li {
            display: inline;
            cursor: pointer;
        }
    }
}
