#table-of-contents-wrapper {
    width: 20%;
    
    #table-of-contents {
        z-index: -1;
        position: fixed;
        right: 120px;
        top: 46%;
        border-left: 1px solid black;
        min-height: 10%;
        max-width: 150px;
        padding: 10px 0 0 20px;

        #table-of-contents-title {
            display: inline-block;
            margin: 0 0 10px 0;
            font-weight: bold;
            text-transform: capitalize;
            word-wrap: break-word;
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                display: inline-block;
                cursor: pointer;
                text-transform: capitalize;
            }
        }
    }
}
